@import "compass_twitter_bootstrap";

$bg: #fff;
$bodyWidth: 980px;
$w: 190px;
$h: 135px;


body {
  background: #eee;
}

#main {
  background: $bg;
  width: $bodyWidth;
  margin: 0px auto;
}

header {
  margin: -10px 10px 20px;
}

footer {
  font-size: 10px;
  color: #999;
  text-align: center;
  padding: 20px 10px;
}

#vis {

}

.row {
  margin: 10px 0px;
}

.rowLabel { 
  color: #888;
  font-size: 16px;
  position: relative;
  float: left;
  width: 170px;
  height: $h;
  margin: 0px 5px;
}

.preview {
  position: relative;
  float: left;
  width: $w;
  height: $h;
  margin: 0px 5px;
}

// background rect for each svg map
.mapBg {
  stroke: 1px solid #aaa;
  fill: #fff;
  width: $w;
  height: $h;
  pointer-events: all;
}

// year label on each svg map
.mapTitle {
  fill: #999;
  font-size: 16px;
}

.states {
  fill: #99acbb;
}

.states:hover {
  fill: #b0d912;
}

.states-boundary {
  fill: none;
  stroke: $bg;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  shape-rendering: geometricPrecision;
}
